@media(min-width:750px){
    *{
        font-size: 15px;
    }

    .divide{
        flex-direction: row;
        height: 100vh;
    }

    .text > p{
        padding: 0 75px;
    }

    .divide > .imag{
        background-image: url("../img/IMG-20251217-WA0005.jpg");
        background-size:cover ;
        background-repeat: no-repeat;
        flex-basis: 35%;
        height: 100%;
        margin: auto;
    }

    .divide > .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-basis: 65%;
    }

    .divide > article{
        width: 100%;
        height: 100vh;
    }
}